@media (min-width: 320px) {
  header {
    height: auto;
    background: #f8f8f8;
    padding: 0 !important;

    .menu {
      width: 100%;
      padding: 0;
      margin: auto;
    }

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;

      .toggler {
        width: 45px;
        display: block;

        .menuIcon {
          width: 100%;
        }
      }

      .hide {
        display: none !important;
      }

      .show {
        display: block !important;
      }

      .navLink {
        position: absolute;
        display: none;
        width: 100%;
        background: #f8f8f8f0;
        height: 100vh;
        top: 0;
        left: 0;

        .navItems {
          display: block;
          padding: 10px 15px;
          text-decoration: none;
          color: #1a1a1a;
          font-weight: 400;
          transition: all 1s;

          &:hover {
            color: #ff4000;
            margin: 5px;
            font-weight: 500;
          }
        }

        .navItems.active {
          color: #ff4000;
        }
      }
    }
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  header {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;

      .toggler {
        display: none;
      }

      .navLink {
        position: relative;
        display: block;
        height: inherit;
        width: fit-content;

        .navItems {
          display: inline;
          padding: 0 15px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 2560px) {
}
